* {
    margin: 0;
    padding: 0;
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/* Main CSS */
body {
    background-color: rgb(36, 36, 36);
}

header {
    background: url("../images/image.jpg") center center/cover no-repeat;
    height: 28rem;
    border-bottom: 1px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    padding: 0.5rem;
}

.head-flex {
    padding-left: 5px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.head-flex i {
    border: rgb(133, 133, 133) 1px;
    background-color: rgba(138, 138, 138, 0.2);
    padding: 12px;
    border-radius: 9px;
    color: white;
    height: 15px;
}

.heading {
    margin-bottom: 40px;
    padding-left: 15px;
}

.heading h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    padding-bottom: 15px;
    color: white;
    font-weight: 300;
    line-height: 1.2rem;
    text-shadow: black 1px solid;
}

.btn-data {
    border: rgb(133, 133, 133) 1px solid;
    background-color: rgba(138, 138, 138, 0.2);
    padding: 7px 10px 10px 10px;
    border-radius: 9px;
    color: white;
    height: 15px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
}
.heading .fa {
    margin-top: -10px;
    margin-left: -5px;
    margin-right: 6px;
}

/* Description */

.place-description {
    padding: 25px;
    margin-right: 20px;
}

.place-description h2 {
    color: white;
    font-family: "Roboto", sans-serif;
}

.place-description p {
    padding-top: 15px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: rgb(114, 114, 114);
    margin-bottom: 20px;
}

.more-items {
    display: flex;
    border: black 1px;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    background-color: rgba(138, 138, 138, 0.2);
}

.place-card-1 {
    border: black 1px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: url("../images/img1.jpg") center/cover no-repeat;
}

.place-card-2 {
    border: black 1px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: url("../images/img2.jpg") center/cover no-repeat;
}

.place-card-3 {
    border: black 1px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: url("../images/img3.jpg") center/cover no-repeat;
}

.place-card-4 {
    border: black 1px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: url("../images/img4.jpg") center/cover no-repeat;
}

.place-card-5 {
    border: rgb(114, 114, 114) 1px solid;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.place-card-5 p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 6px;
    padding-left: 7px;
}

.place-order-button {
    border: black 1px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(87, 173, 243);
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 200;
    width: 200px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
