@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../images/clouds2.jpg') center center/cover;
    background-repeat: no-repeat;
}

.rain{
    height: 100vh;
    background: url('../images/rain_effect.png') center center/cover no-repeat;
    animation: rain 0.3s linear infinite;
}

@keyframes rain {
    from{
        background-position: 0% 0%;
    }
    to{
        background-color: -0.1% -5%;
    }
}

.clock-widget{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: grid;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.clock-widget h1{
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.clock-widget p{
    color: white;
    word-spacing: .1em;
    font-size: 25px;
    font-weight: 300;
}

.weather-card{
    font-family: 'Lato', sans-serif;
    padding: 15px 34px;
    color: white;
    margin: 0px 20px 10px 20px;
    display: flex;
    border: rgb(190, 190, 190) 1px;
    border-radius: 15px;
    background-color: rgba(28, 31, 43, 0.6);
    justify-content: space-between;
}

.weather-today i{
    color: rgb(199, 223, 245);
    padding: 10px 0;
    text-align: center;
}

.weather-today{
    display: grid;
}

.weather-today h3{
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

.weather-today p{
    color: rgb(194, 194, 194);
    padding-top: 5px;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0rem;
    font-weight: 350;
}

.iconify{
    padding: 10px 10px 10px 22px;
    color: rgb(199, 223, 245);
}

.main-weather-card{
    font-family: 'Lato', sans-serif;
    padding: 15px 34px 30px 34px;
    color: white;
    margin: 0px 20px 10px 20px;
    display: flex;
    border: rgb(190, 190, 190) 1px;
    border-radius: 15px;
    background-color: rgba(28, 31, 43, 0.6);
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
}

.location-extra{
    display: flex;
    justify-content: space-between;
}

.location-extra i{
    color: white;
    padding: 5px 10px;
    text-align: center;
    border: 1px white;
    border-radius: 15px;
    background-color: rgba(177, 177, 177, 0.2);
}

.location-extra h2{
    font-size: 1.3rem;
    text-align: center;

    font-weight: 400;
    line-height: 1.6rem;
}

.weather-details h1{
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 4.5rem;
}

.weather-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-details p{
    color: rgb(194, 194, 194);
    padding-top: 5px;
    font-size: 1rem;
    letter-spacing: 0rem;
    font-weight: 350;
}

.weather-icon{
    background: url('../images/rain_bigicon.png') center center/cover no-repeat;
    height: 150px;
    width: 150px;
}

.footer-nav{
    display: flex;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.footer-nav-text {
    display: flex;
    padding-left: 30px;
    padding-right: 25px;
    justify-content: space-between;
}

.footer-nav-text h3{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.footer-nav i{
    color: white;
}
